.popup {
    /*позиционирование абсолютное, как было реализовано в лайфкодине по DOM*/
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .5);
  display: none;
}