.photo__like {
  background-image: url('../../../images/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  max-width: 22px;
  max-height: 19px;
  outline-style: none;
  cursor: pointer;
  align-self: center;
  transition: .2s;
}

.photo__like:hover {
  opacity: 0.5;
  transition: .2s;
}

.photo__like:active {
  opacity: 1;
  background-image: url('../../../images/like-active.svg');
} 